*{
    margin: 0;
    
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
/*-----CSS for header and nav-------*/
#header{
    background-image: url(images/bannerOne.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    color: #f1f1f1;
}
.navbar-nav li a{
    float: right;
    color: #fff !important;
}
.navbar-nav li a:hover{
    font-weight: 900;
    transform: scale(1.1);
}


.navbar-brand h3{
    width: 7px;
    margin: none ;
    color: #fff;
}
.navbar-toggler{
    border: none !important;
    outline: none !important;
}
nav .fa-bars{
    color: #fff !important;
    font-size: 30px;
}

/*-----endOfNavSection-------*/
/*-----CSS for welcome section-------*/
 
.site-heading h1{
    font-size: 2.5rem;
}
@media (min-width: 1200px) {
    h1{
      font-size: 3.5rem;
    }
  }
  
  h2, .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  @media (min-width: 1200px) {
    h2, .h2 {
      font-size: 2rem;
    }
  }
.welcome{
    padding: 50px 100px;
    margin-top: 0;
    color: #000;
}
.welcome h1{
    color: #000;
}
.welcome .home-btn{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    background-color: #4c76e2;
}
.welcome .btn:focus{
    box-shadow: none;
}
.bannerLogo {
    width: 300px;
    height: 50px;
}
/*-----end of welcome section-------*/
/*-----CSS for about youth church section-------*/

#about{
    padding-top: 100px;
    padding-bottom: 100px;
}
#about .col-md-6{
    padding: 20px 11px;
}
#about h3{
    margin: 21px auto;
}
/*-----end of about youth church section-------*/
/*-----services section-------*/
#services{
    background-color: #efefef;
    padding-top: 80px;
    padding-bottom: 80px;
}
#services .col-md-4{
    padding: 20px;
}
#services .col-md-4 h4{
    padding: 5px;
}
#services .col-md-4 img{
    /*-----width:50px-------*/
    kerning: 0cm;
}
#services .col-md-4 p{
    padding: 5px;
    text-align: justify;
}
/*-----end of services section-------*/

/*-----end of about youth church section---*/
/*-----CSS for feature  section-------*/
#features{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://images.pexels.com/photos/2565227/pexels-photo-2565227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}
#features .col-md-6{
    padding: 20px;
}


/*-----CSS for testimonials  section-------*/
#testimonials{
    padding-top: 100px;
    padding-bottom: 100px;
}
#testimonials h1{
    margin-bottom: 20px;
    color: #4c76e2 ;
}
#testimonials p{
    margin-bottom: 28px;
    font-weight: 700;
}
#testimonials .col-md-4{
    padding: 10px 30px;
}
#testimonials img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
   border: 6px solid #acacac;
   justify-content: left;
   transform: translateX(-60px);
}
.review{
    font-size: 18px;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}
.review .fa{
    font-size: 20px;
    color:  #013f7e;
}
#testimonials span{
    font-size: 18px;
    font-weight: 600;
    color:  #4c76e2;
}
#testimonials .middle:hover{
    margin-bottom: 20px;
    transform: scale(1.1);
    box-shadow: inset -10px -10px 20px -1px rgba(255, 255, 255, 0.7);

}

.subscribe{
    padding: 50px 20px;
    margin-bottom: -100px;
    background-color: #4c76e2;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}
.subscribe h3,.subscribe p {
    color: #fff;
}
.subscribe .input-group{
    border-radius: 30px;
    background: #fff;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;

}
.subscribe .form-control{
   border: none;
   background: transparent;
}
.subscribe .form-control:focus{
    box-shadow: none;
    background: transparent;
 }
 .subscribe .input-group-append{
    background-color: #333;
    border-radius: 30px;
 }
 .subscribe .input-group-text{
    background: transparent;
    border: none;
    color: #fff;
 }
 .subscribe .btn:focus{
    box-shadow: none;
 }



 #footer{
    margin-top: 80px;
    padding: 100px;
    background-color: #efefef;
    color: #013f7e;
 }
 .footerLogo{
    width: 150px;
    margin-top: 25px;
    margin-bottom: 15px;
 }
 #footer h1{
    font-size: 15px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
 }
 #footer p{
    font-size: 12px;
    text-align: left;
 }

 #footer .row .fa{
    display: inline;
    font-size: 1.2em;
    margin-right: 5px;
 }
 #footer  hr{
    margin-top: 12px;

 }
 #footer a{
    text-decoration: none;
 }
 #footer .fa-code{
    color: #39e229;
    font-size: 18px;
    font-weight: bolder;
 }
 .copyRight{
    margin-bottom: -80px;
    font-size: 18px;
 }


 .slide-Left{
    animation: 5s slideLeft linear forwards ;
  }
  @keyframes slideLeft {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    50% {
      transform: translateX(-50px);
      opacity: 0.1;
    }
    100%{
      transform: translateX(0px);
      opacity: 1;
    } 
  }
  #welcome .slide-Left{
    animation-delay: 3s;
  }
  .blue-btn .slide-Left{
    animation-delay: 7s  }







#headerOne{
    background-image: url(images/bannerOne.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    
}


 
.blue-btn{
    background-color: #4c76e2;
    color:white;
    padding: 16px 20px;
    margin: auto auto 16px auto;
    border:none;
    cursor:pointer;
    min-width:100%;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 5 10px  #acacac;
    opacity: 0.8;
}
input[type=text], input[type=email], input[type=password] {
    min-width:100%;
    padding:15px;
    margin:5px 0 22px 0;
    display: list-item;
    background:#f1f1f1;
    border-radius: 4px;
    width: auto;

}


input:not(:placeholder-shown):not(:focus):invalid {
    border: 2px solid red;
}
.registerbtn{
    background-color: #968b8b;
    color:white;
    padding: 16px 20px;
    margin:8px 0;
    border:none;
    cursor:pointer;
    width:100%;
    border-radius: 4px;
    opacity: 0.8;
    
} 
.registerbtn:hover{
    opacity: 1;
    transform: scale(1.2);
    background-color: #4c76e2;
}
a {
    color: hsl(0, 100%, 74%);
    font-family: 'Poppins';
    text-decoration: none;
}
.container-terms{
    text-align: center;
    padding-bottom: 20px;
    background-color: white;
    color: darkgray;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 15 25px  lightgray;
}
#regText{
    display: grid;
    place-items: center;
}
.containerA{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: center;
}



#postPreview{
    padding-top: 100px;
    padding-bottom: 100px;
}


.post-preview > a {
    color: #212529;
  }
  .post-preview > a:focus, .post-preview > a:hover {
    text-decoration: none;
    color: #0085A1;
  }
  .post-preview > a > .post-title {
    font-size: 1.875rem;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
  }
  .post-preview > a > .post-subtitle {
    font-weight: 300;
    margin-bottom: 0.625rem;
  }
  .post-preview > .post-meta {
    font-size: 1.125rem;
    font-style: italic;
    margin-top: 0;
    color: #6c757d;
  }
  .post-preview > .post-meta > a {
    text-decoration: none;
  }
  @media (min-width: 992px) {
    .post-preview > a > .post-title {
      font-size: 2.25rem;
    }
  }



#blogPost{
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

#PostsPagination{
    padding-top: 100px;
    padding-bottom: 100px;
}
.card{
    width: 400px;
    height: 150px;
    display: grid;
    grid-template-rows: minmax(100%, 1fr);
    grid-template-areas: "stack";
    overflow: hidden;
}
.card img{
    grid-area: stack;
}
.figureCaption{
    grid-area: stack;
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card .figureCaption{
    grid-area: stack;
    background-color: #efefef;
    transform: translateY(calc(100% - 4rem));
    transition: transform 600ms;
}
.card:hover .figureCaption{
    transform: none;
}

 