*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
/*-----CSS for header and nav-------*/
#header{
    background-image: url(images/bannerOne.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
}
.navbar-nav li a{
    float: right;
    color: #fff !important;
}
.navbar-nav li a:hover{
    font-weight: 900;
    transform: scale(1.1);
}


.navbar-brand h3{
    width: 150px;
    margin-left: 30px;
    color: #fff;
}
.navbar-toggler{
    border: none !important;
    outline: none !important;
}
nav .fa-bars{
    color: #fff !important;
    font-size: 30px;
}

/*-----endOfNavSection-------*/
/*-----CSS for welcome section-------*/
.welcome{
    padding: 50px 100px;
    margin-top: -140px;
    background-color: #fff;
    box-shadow: 10px 10px 20px -1px rgba(32, 32, 32, 0.7);
}
.welcome h1{
    color: #333;
}
.welcome .home-btn{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    background-color: #4c76e2;
}
.welcome .btn:focus{
    box-shadow: none;
}
/*-----end of welcome section-------*/
/*-----CSS for about youth church section-------*/

#about{
    padding-top: 100px;
    padding-bottom: 100px;
}
#about .col-md-6{
    padding: 20px 11px;
}
#about h3{
    margin: 21px auto;
}
/*-----end of about youth church section-------*/
/*-----services section-------*/
#services{
    background-color: #efefef;
    padding-top: 80px;
    padding-bottom: 80px;
}
#services .col-md-4{
    padding: 20px;
}
#services .col-md-4 h4{
    padding: 5px;
}
#services .col-md-4 img{
    /*-----width:50px-------*/
    kerning: 0cm;
}
#services .col-md-4 p{
    padding: 5px;
    text-align: justify;
}
/*-----end of services section-------*/

/*-----end of about youth church section---*/
/*-----CSS for feature  section-------*/
#features{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://images.pexels.com/photos/2565227/pexels-photo-2565227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}
#features .col-md-6{
    padding: 20px;
}
.featurebox{
    height: 120px;
}
.featureLeft{
    height: 120px;
    width: 20%;
    float: left;
}
.featurebox .featureLeft .fa{
    padding-top: 13px;
    font-size: 50px;
}
.featurebox .featureRight{
    height: 120px;
    width: 80%;
    float: left;
}
.featurebox .featureRight h4{
    padding-top: 10px;
    padding-left: 15px;
    text-align: left;
}
.featurebox .featureRight p{
    padding-left: 15px;
    text-align: left;
}

/*-----CSS for testimonials  section-------*/
#testimonials{
    padding-top: 100px;
    padding-bottom: 100px;
}
#testimonials h1{
    margin-bottom: 20px;
    color: #4c76e2 ;
}
#testimonials p{
    margin-bottom: 28px;
    font-weight: 700;
}
#testimonials .col-md-4{
    padding: 10px 30px;
}
#testimonials img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
   border: 6px solid #acacac;
   justify-content: left;
   transform: translateX(-60px);
}
.review{
    font-size: 18px;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}
.review .fa{
    font-size: 20px;
    color:  #013f7e;
}
#testimonials span{
    font-size: 18px;
    font-weight: 600;
    color:  #4c76e2;
}
#testimonials .middle:hover{
    margin-bottom: 20px;
    transform: scale(1.1);
    box-shadow: inset -10px -10px 20px -1px rgba(255, 255, 255, 0.7)
}

.subscribe{
    padding: 50px 20px;
    margin-bottom: -100px;
    background-color: #4c76e2;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}
.subscribe h3,.subscribe p {
    color: #fff;
}
.subscribe .input-group{
    border-radius: 30px;
    background: #fff;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;

}
.subscribe .form-control{
   border: none;
   background: transparent;
}
.subscribe .form-control:focus{
    box-shadow: none;
    background: transparent;
 }
 .subscribe .input-group-append{
    background-color: #333;
    border-radius: 30px;
 }
 .subscribe .input-group-text{
    background: transparent;
    border: none;
    color: #fff;
 }
 .subscribe .btn:focus{
    box-shadow: none;
 }



 #footer{
    margin-top: 80px;
    padding: 100px;
    background-color: #efefef;
    color: #013f7e;
 }
 .footerLogo{
    width: 150px;
    margin-top: 25px;
    margin-bottom: 15px;
 }
 #footer h1{
    font-size: 15px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
 }
 #footer p{
    font-size: 12px;
    text-align: left;
 }
 #footer .city{
    margin-left: 35px;

 }
 #footer .row .fa{
    margin-right: 20px;
    font-size: 1.2em;
 }
 #footer  hr{
    margin-top: 12px;

 }
 #footer .fa-code{
    color: #39e229;
    font-size: 18px;
    font-weight: bolder;
 }
 .copyRight{
    margin-bottom: -80px;
    font-size: 18px;
 }


 .slide-Left{
    animation: 2s slideLeft linear forwards ;
  }
  @keyframes slideLeft {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    50% {
      transform: translateX(-50px);
      opacity: 0.1;
    }
    100%{
      transform: translateX(0px);
      opacity: 1;
    } 
  }
  #welcome .slide-Left{
    animation-delay: 3s;
  }







#headerOne{
    background-image: url(images/bannerOne.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    
}


 
.blue-btn{
    background-color: #4c76e2;
    color:white;
    padding: 16px 20px;
    margin: auto auto 16px auto;
    border:none;
    cursor:pointer;
    min-width:100%;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 5 10px  #acacac;
    opacity: 0.8;
}
input[type=text], input[type=email], input[type=password] {
    min-width:100%;
    padding:15px;
    margin:5px 0 22px 0;
    display: list-item;
    background:#f1f1f1;
    border-radius: 4px;
    width: auto;

}


input:not(:placeholder-shown):not(:focus):invalid {
    border: 2px solid red;
}
.registerbtn{
    background-color: #968b8b;
    color:white;
    padding: 16px 20px;
    margin:8px 0;
    border:none;
    cursor:pointer;
    width:100%;
    border-radius: 4px;
    opacity: 0.8;
    
} 
.registerbtn:hover{
    opacity: 1;
    transform: scale(1.2);
    background-color: #4c76e2;
}
a {
    color: hsl(0, 100%, 74%);
    font-family: 'Poppins';
    text-decoration: none;
}
.container-terms{
    text-align: center;
    padding-bottom: 20px;
    background-color: white;
    color: darkgray;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 15 25px  lightgray;
}
#regText{
    display: grid;
    place-items: center;
}
.containerA{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: center;
}





.swiper{
    width: 80%;
    height: fit-content;
}
.swiper-slide img{
    width: 100%;

}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #ffff;
}
.swiper .swiper-pagination-bullet-active{
    background: #ffff;
}